.actives{
  background-color: #76a53b;
  
}
.font{
  font-size: small;
}
.nv{
  color:#76a53b;
}
.itm{
  color:white;
}
.i:active{
   color:white;
}
  .logo-img{
    width:30%;
    height: 30%;
      }
      .sidebar {
        border-top-right-radius: 10%;
        border-bottom-right-radius: 10%;
        overflow: hidden;
        width: 235px;
      }
      
/* 
@media (max-width: 576px) {
  .sidebar-wrapper {
    width:80;
  }
  .logo-img{
    width:5%;
    height: 10%;
      }

}


@media (min-width: 577px) and (max-width: 992px) {
  .sidebar-wrapper {
    width: 100%;
  }
  .logo-img{
    width:10%;
    height: 20%;
      }

}


@media (min-width: 993px) {
  .sidebar-wrapper {
    width: 120%; 
  }
  .logo-img{
    width:30%;
    height: 30%;
      }


} */