
<app-shared-nav [buttons]="buttons"></app-shared-nav> 
<div class="row" > 
    <div class="col-md-6 ml-5">
      <div class="card " >


<form (ngSubmit)="addBank()">   
    <div class="row ml-4">
        <h6 class="card-title mt-3">Bank</h6>
    <div class="col-md-5 mt-4 "> 
    <div class="form-field"> 
    
      <input type="text" id="BankName" placeholder=" " [(ngModel)]="addBankRequest.bankName" name="name" required> 
     <label for="BankName">Bank Name</label>  </div> </div>
     <div class="row ">
  
  </div>
   
 <div  class="col-md-8 mt-3"><button type="submit" class="btn  btn-sm btnsave ml-3"><mat-icon>add</mat-icon>Save </button> </div>
   
 </div>   <div *ngIf="BankSaved" class="alert  btndanger btn-sm pull-right">
        Successfully Added!
      </div> 
  </form> 



  
  <h6 class="mb-3 ml-3 mt-3"> 
List Of Bank
</h6> 


 
<table id="example1" class="table table-bordered table-striped compact-table"  *ngIf="Banks && Banks.length>0"> 
<thead> 
    <tr> 
        <th>Bank Name</th> 
       
   
        

    </tr> 
</thead> 
<tbody> 
    <tr *ngFor="let Bank of Banks"> 
       
        <td>{{capitalizeFirstLetter(Bank.bankName)}}</td> 
    
     

        <td>   
            <button  class="btn btn-sm btndanger" (click)="deleteBank(Bank.id)"  [ngStyle]="{'font-size': '12px', 'padding': '4px 8px'}">
                <mat-icon>delete</mat-icon></button>
        </td> 

    </tr> 
</tbody> 
</table> 
<p *ngIf="!Banks || Banks.length <= 0">no Banks found</p>
</div>
</div>
</div>
