
        <div class="row sidebar2">
      
            <div class="card card-profile cardnav">
               
                <div class="card-body">
                 
  
                   <div><button type="button" class=" btn btn-gray  btn-sm" routerLinkActive="btn-green" routerLink="/employee-registration">Personal Information</button>
                   </div> 
                   <div><button type="button" class="btn btn-gray btn-sm" routerLinkActive="btn-green" routerLink="/employee-registration/contact">contact</button>
                    <div><button type="button" class="btn btn-gray   btn-sm" routerLinkActive="btn-green" routerLink="/employee-registration/emergency-contact">Emergency contact</button>
                 </div>     
                 <div><button type="button" class="btn btn-gray  btn-sm" routerLinkActive="btn-green" routerLink="/employee-registration/spouse">Spouse</button>
                 </div> 
             <div><button type="button" class="btn btn-gray  btn-sm" routerLinkActive="btn-green" routerLink="/employee-registration/job-description">Job description</button>
                  </div>   
                  <div><button type="button" class="btn btn-gray   btn-sm" routerLinkActive="btn-green" routerLink="/employee-registration/education">Education</button>
                   </div> 
                   <div><button type="button" class="btn btn-gray   btn-sm" routerLinkActive="btn-green" routerLink="/employee-registration/work-experience">Work Experience</button>
                   </div>   
                  
                  <div><button type="button" class="btn btn-gray  btn-sm" routerLinkActive="btn-green"routerLink="/employee-registration/training">Training</button>
                   </div> 
  
               
               <div><button type="button" class="btn btn-gray  btn-sm" routerLinkActive="btn-green" routerLink="/employee-registration/deposite-authentication">Deposite Authentication</button>
                </div>    

               </div>  
              </div>
            </div>
        </div>
