.cardhead{
    background-color: rgb(224, 224, 217);
}
.compact-table th {
    font-size: 13px;
    color: black;
    font-weight:650; /* Adjust the font size as needed */
  }
  .compact-table tr {
    font-size: 13px; /* Adjust the font size as needed */
  }
  
  .compact-table th, .compact-table td {
    padding: 4px 8px; 
  }
  td ,th{
    white-space: nowrap; /* Prevent text wrapping */
  }