.margin{
  margin-left: 25%;
}.form-container {
    max-width: 500px; /* Adjust this value to change the form width */
    margin-left: 100px;
  }

  .btnsave{
    background-color: #76a53b;
  }
  
  .compact-table th {
    font-size: 13px;
    color: black;
    font-weight: bold; /* Adjust the font size as needed */
  }
  .compact-table tr {
    font-size: 13px; /* Adjust the font size as needed */
  }
  
  .compact-table th, .compact-table td {
    padding: 4px 8px; 
  }
  td ,th{
    white-space: nowrap; /* Prevent text wrapping */
  }