<div class="main-content">
    
    <div class="container-fluid">
        <div class="row sidebar2">
      
            <div class="card card-profile cardnav">
               
                <div class="card-body">
                 
                   <div><button type="button" class=" btn btn-gray  btn-sm" routerLinkActive="btn-green" [routerLink]="'/edit-employee/'+empId">Personal Information</button>
                   </div> 
                   <div><button type="button" class="btn btn-gray btn-sm" routerLinkActive="btn-green" [routerLink]="'/edit-contact/'+ empId">contact</button>
                    <div><button type="button" class="btn btn-gray   btn-sm" routerLinkActive="btn-green" [routerLink]="'/edit-emergencyContact/'+ empId">Emergency contact</button>
                 </div>     
                 <div><button type="button" class="btn btn-gray  btn-sm" routerLinkActive="btn-green" [routerLink]="'/edit-spouse/'+ empId">Spouse</button>
                 </div> 
             <div><button type="button" class="btn btn-gray  btn-sm" routerLinkActive="btn-green" [routerLink]="'/edit-employeePosition/' + empId">Job description</button>
                  </div>   
                  <div><button type="button" class="btn btn-gray   btn-sm" routerLinkActive="btn-green" [routerLink]="'/edit-education/'+ empId">Education</button>
                   </div> 
                   <div><button type="button" class="btn btn-gray   btn-sm" routerLinkActive="btn-green" [routerLink]="'/edit-workExperience/' +empId">Work Experience</button>
                   </div>   
                  
                  <div><button type="button" class="btn btn-gray  btn-sm" routerLinkActive="btn-green" [routerLink]="'/edit-training/' +empId">Training</button>
                   </div> 
  
               
               <div><button type="button" class="btn btn-gray  btn-sm" routerLinkActive="btn-green" [routerLink]="'/edit-depositeAuthentication/' + empId">Deposite Authentication</button>
                </div>    

               </div>  
              </div>
            </div>
        </div>
    </div>